# RCS Lists
## Useful Jupyter Commands

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [143]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [144]:
'Bread' in groceries

True

In [145]:
'Apples'  in groceries

False

In [147]:
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [148]:
name_list[3]

'd'

In [149]:
name_list[3]='b'
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [150]:
glist=list(groceries)
print(glist, id(glist), id(groceries))

['Bread', 'Eggs', 'Milk'] 92667784 92400456

In [151]:
glist2=groceries
print(id(glist2),id(groceries),id(glist))

92400456 92400456 92667784

In [154]:
glist == groceries

False

In [153]:
glist[2] = 'Apples'

In [157]:
glist.append('Peaches')

In [158]:
glist

['Bread', 'Eggs', 'Apples', 'Peaches']

In [159]:
glist == groceries

False

In [160]:
dir(glist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [162]:
x = list(range(1,10))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
y = [x*x for x in x]
print(y)
# List comprehensions! Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [164]:
sum(x),sum(y)

(45, 285)

In [165]:
len(x),len(y)

(9, 9)

In [166]:
y

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [169]:
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [171]:
z=(x+y)*3

In [172]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81]

In [173]:
tmp = y*2
print(tmp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [174]:
len(tmp)

18

In [175]:
tmp[3:8:2]

[16, 36, 64]

In [176]:
tmp[3:98:2]

[16, 36, 64, 1, 9, 25, 49, 81]

In [177]:
tmp[::-1]

[81, 64, 49, 36, 25, 16, 9, 4, 1, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [178]:
len(y)

9

In [179]:
dir(tmp)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [185]:
y.insert(0, 33)
y

[33, 33, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [186]:
55 in y

False

In [187]:
33 in y

True

In [188]:
y.index(16)

5

In [189]:
y.index(33)

0

In [192]:
# y.remove(33)
y.remove(33)
y

ValueError: list.remove(x): x not in list

In [194]:
y+=[11, -22, 66]
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 11, -22, 66]

In [195]:
y.sort()
y

[-22, 0, 1, 4, 9, 11, 16, 25, 36, 49, 64, 66, 81]

In [196]:
y.reverse()
y

[81, 66, 64, 49, 36, 25, 16, 11, 9, 4, 1, 0, -22]

In [197]:
x=y[::-1]
x

[-22, 0, 1, 4, 9, 11, 16, 25, 36, 49, 64, 66, 81]

In [198]:
z=x.pop(5)
print(x, z)

[-22, 0, 1, 4, 9, 16, 25, 36, 49, 64, 66, 81] 11

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [207]:
list(range(55,59))

[55, 56, 57, 58]

In [200]:
tmp

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [199]:
tmp.count(64)
# We count occurences!

2

In [202]:
tmp.count('Valdis')

0

In [203]:
print(tmp.index(64))
tmp[7]

7

64

In [204]:
?tmp.index

In [ ]:
len(x)

In [205]:
[] is []

False

In [206]:
[] == []

True

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!